@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #000000;
    --foreground: #FFFFFF;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    overflow-x: hidden;
}

::selection {
    background: #FFFFFF;
    color: #000000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

canvas {
    display: block;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}